<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<p>Your friend <%= @user.email %> has invited you to Shopulse and says:</p>
	<br>
	<p><%= @message %></p>
	<p>----</p>	
	<p>I just signed up to Shopulse where I’ll find products that suit my style, size and taste, and that
	comes from the best boutiques from around the world. Every product on Shopulse is on sale ­ up
	to 70% off retail price. <br>	
	</p>
	You should check it out: <a target="_blank" href='http://www.shopulse.com/invite/<%= @ref %>'>http://www.shopulse.com/invite/<%= @ref %></a>
	<br>
</body>
</html>