<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<p>Your friend <%= @user.email %> has invited you to Shopulse and says:</p>
	<br>
	<p><%= @message %></p>
	<p>----</p>	
<<<<<<< HEAD
	<p>I just signed up to Shopulse where I’ll find designer threads and hand-selected styles from the best boutiques from all over the world, at up to 70% off retail. <br>	
=======
	<p>I just signed up to Shopulse where I’ll find designer threads and hand-selected styles from the best boutiques from all over the world, at up to 70% off retail. <br>  
>>>>>>> accff748ec884f5d6a884a596724a39ad2476c22
	</p>
	You should check it out: <a target="_blank" href='http://www.shopulse.com/invite/<%= @ref %>'>http://www.shopulse.com/invite/<%= @ref %></a>
	<br>
</body>
</html>