<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<p>Thank you for signing up for Shopulse! 
We're very excited that soon, you and the world will be able to access private sales from the world's hottest boutiques. 
All from Shopulse, you'll be able to shop sales from the best boutiques in Vancouver, Toronto, NY, LA, Paris, London and more! Even better, you will only see items that is your style, size, and that match your taste. 
You can really help us out by sharing with your friends: <a target="_blank" href="http://www.shopulse.com/invite/<%= @user.launch_info.ref%>">referral link</a>. Invite at least 3 friends to get early access. The more friends you invite, the sooner you will get access to the hottest products from the hottest boutiques. 
Thank you, Raphael, founder of Shopulse</p>
</body>
</html>