<html>
  <head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>Welcome email</title>
  </head>
  <body style="margin: 0; padding: 0; background: rgb(247, 247, 247)">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td style="margin: 0;
            align=" center"="" bgcolor="#F7F7F7">
            <table style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #6f6f6f; width: 600px; height: 400px;"
              align="center"
              border="0"
              cellpadding="0"
              cellspacing="0">
              <tbody>
                <tr>
                  <td height="30"><br>
                  </td>
                  <td><br>
                  </td>
                </tr>
                <tr>
                  <td style="border-bottom: 2px dotted #bfbfbf; background: #FFFFFF;background-image: url(https://s3.amazonaws.com/Shopulse/ribbon-red.jpg);
background-repeat: no-repeat;"
                    align="center"
                    bgcolor="#FFFFFF"
                    height="75">                    
                    <a href="http://shopulse.com"><img style="width: 180px; height: 65px; padding-top: 13px"
                        alt="Shopulse Logo"
                        src="https://s3.amazonaws.com/Shopulse/Shopulse+Logo+-+v2.png"></a>
                  </td>
                  <td><br>
                  </td>
                </tr>
                <tr>
                  <td align="center" bgcolor="FFFFFF">
                    <h2 style="padding-top: 20px; padding-bottom: 0px; font-weight: 200; color: #434343; height: 26px; margin-top: 11px;">Welcome
                      to Shopulse!</h2>
                  </td>
                  <td><br>
                  </td>
                </tr>
                <tr>
                  <td style="padding-left:40px; padding-right:40px;" bgcolor="FFFFFF"
                    width="600">
                    <div style="text-align: center; line-height: 25px;">Use
                      Shopulse to discover and shop unique products from the
                      world's best boutiques, at up to 70% off retail price. You
                      can even get personalized recommendations of items that
                      match your taste and size.<br>
                      &nbsp;Isn't that awesome?<br>
                      <br>
                      We did not launch yet; however, the more you share
                      Shopulse with your friends, the sooner you'll get
                      exclusive access. <br>
                      <br>
                      Here's your invite link: <a target="_blank" href='shopulse.com/invite/<%= @user.launch_info.ref %>'>www.shopulse.com/invite/<%= @user.launch_info.ref %></a>. Share it!<br>
                      <br>
                      <span style="text-decoration: underline;"></span></div>
                    <span style="text-decoration: underline;"></span>
                    <p style="font-size: 14px; color: #646464; line-height: 20px; text-align: center;"><a
                        href="http://facebook.com/shopulse"><img
                          alt="Like us on Facebook"
                          src="https://s3.amazonaws.com/Shopulse/Emails/facebook_btn.png"></a><a
                        href="http://twitter.com"><img
                          alt="Follow us on Twitter"
                          src="https://s3.amazonaws.com/Shopulse/Emails/twitter_btn.png"></a>
                    </p>
                  </td>
                  <td><br>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: center; margin-left: 51px;" bgcolor="FFFFFF"
                    height="20"><br>
                  </td>
                  <td style=""><br>
                  </td>
                </tr>
                <tr>
                  <td height="24"><a href=""><img src="https://s3.amazonaws.com/Shopulse/Emails/bottom-detail2.png"
                        alt="bottom"
                        border="0"
                        height="24"
                        width="600"></a>
                  </td>
                  <td><br>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table style="font-size: 11px;" border="0" cellpadding="0" cellspacing="0"
                      width="600">
                      <tbody>
                        <tr>
                          <td align="left">
                            <p style="color:#8C8C8C;"><br>
                            </p>
                          </td>
                          <td align="right">
                            <p style="color:#8C8C8C;"><br>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td><br>
                  </td>
                </tr>
                <tr>
                  <td height="40"><br>
                  </td>
                  <td><br>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
