<div style='padding: 50px'>
	<h2>I want to be a...</h2>
	<%= link_to "Member", :controller => "registrations", :action => "new", :id => 'member' %>
	<br>
	<%= link_to "Retailer", :controller => "registrations", :action => "new", :id => 'retailer' %>
</div>